*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body{
    background: linear-gradient(to left , rgb(192, 74, 238), rgb(145, 6, 133), rgba(0, 0, 255, 0.411));
    display: grid;
    align-items: center;
    justify-items: center;
}
.dh{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 10px;
    width: 80%;
}
.he{
    display: flex;  
    justify-content: center; 
     width: 100%;
    background-color: rgba(113, 40, 156, 0.411);
    border: solid black 1px;
    box-shadow: 5px 5px 15px #0006;
    border-radius: 10px;
}

h1{
    font-family: cursive;
    text-shadow: 0 0 10px #0006;
}

h2{
    font-family: cursive;
    text-shadow: 0 0 10px #0009;
}

.padre{
    display: grid;
    width: 90%;
    border: solid white 1px;
    box-shadow: 5px 5px 15px #0006;
    border-radius: 25px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

}

.t1{
    display: grid;
    border: 1px black solid ;
    box-shadow: 5px 5px 15px #0006;
    border-radius: 20px;
    margin:10px;
    align-content: center;
    text-align: center;
    cursor: pointer;
    
}

.t1 img{
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 150px;
    border-radius: 20px;
}

.t1:hover{
    zoom: 150%;
    color: beige;
    border-color: azure;
    transition: all 0.75s;
}
